body {
  font-size: 16px;
  color: #fff;
/*  background: url('../images/pattern4.jpg') no-repeat center center fixed; */
  background: url('../images/pattern2.jpg') repeat ; 
/*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #D0852D;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 10px #000000;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #420500;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #701C09;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {  text-decoration: none;}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */  vertical-align: middle;}

#nav-list {  margin-top: 10px;}
#nav-list a {
  color: #701C09;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover { background: #E7E7E7;}
#nav-list a span { font-size: 1.8em;  }
#phone {  margin-top: 5px;}

#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #ffffff;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {  border: 1px solid #701C09;}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.menuimg { width :70%; }
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {  margin-bottom: 35px;}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {  font-size: 1.3em;}
#address p {
  color: #D0852D;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {  font-style: italic;}
#testimonials p:nth-child(2) {  margin-top: 25px;}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 60px #701C09;
  border: 2px solid #701C09;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #701C09;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {  box-shadow: 0 1px 5px 1px #cccccc;}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  color: #D0852D;
  opacity: .9;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #701C09;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000;
  color: #D0852D;
  opacity: .9;
}
.category-tile:hover {  box-shadow: 0 1px 5px 1px #cccccc;}
#menu-categories-title + div {  margin-bottom: 50px;}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {  margin-bottom: 25px;}
.menu-item-tile hr { width: 80%;}

.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {  font-size: .6em;}
.menu-item-photo {
  position: relative;
  border: 2px solid #701C09; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #701C09;
  text-align: center;
}
.menu-item-description {  padding-right: 30px;}

h3.menu-item-title {  margin: 0 0 10px;}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */

#about-view a:hover {color: #D0852D;}
#about-view a {color: #ffbf00;}


/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #D0852D;
    color: #701C09;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {  margin-bottom: 0; /* margin already exists on the whole row */  }
  .panel-footer section hr {  width: 50%;  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {    margin-right: auto;  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description { text-align: center;  }
  .menuimg {width :3%; }
}



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  .menuimg { width :5%; }
}



